# Byte-compiled files
__pycache__/
*.py[cod]

# C extension modules
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Virtual environments
env/
venv/
ENV/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE configuration files
.idea/
.vscode/

# Project metadata
*.egg
*.egg-info/
